h1 {font-family: Impact, fantasy ;
	font-size: 100;
	}
body {
    background-color: #00CCFF;
}

h3 {position: relative;
	width: 300px;
    padding: 25px;
    border: 25px double white;
    margin: 25px;
	top:-525;}

h4 {font-size: 25;
	width: 300px;
    padding: 10px;
    border: 10px double white;
    margin: 10px;
	position: relative;
	margin-left: 1550px;}